#chat-screen {
    background-color: #abc1d1;
    height: 1000vh;
    display: flex;
}

#chat-screen .status-bar {
    background-color: #abc1d1;
}

#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
    z-index: 2;
}

@keyframes chatFadeIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-chat {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: chatFadeIn 0.7s linear;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 25px;
}

@keyframes msgFadeIn {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    animation: msgFadeIn 0.7s linear;
}

@keyframes profileFadeIn {
    0% {
        transform: none;
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: none;
    }
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-right: 10px;
    animation: profileFadeIn 0.5s ease-in-out;
    animation-delay: 0.3s;
}

.message-row__author {
    display: block;
    margin-bottom: 7px;
}

.message-row__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 15px;
    border-top-left-radius: 0;
    display: block;
    margin-right: 3px;
}

.message-row__author,
.message__time {
    font-size: 13px;
    opacity: 0.7;
}

@keyframes msgOwnFadeIn {
    from {
        transform: translateX(40px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.message-row--own {
    justify-content: flex-end;
    margin-top: 15px;
    animation: msgOwnFadeIn 0.7s linear;
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row--own .message-row__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply:focus-within {
    transform: translateY(80px);
}

.reply__column > i {
    opacity: 0.5;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
    margin-right: 5px;
}

.reply input {
    padding: 12px;
    width: 100%;
    border: var(--screen-border);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -18px;
    top: 6px;
}

.reply__column:last-child > i {
    right: 22px;
    top: 15px;
}

.reply__column:last-child button {
    background-color: var(--yellow);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    opacity: 0;
}

.reply input:focus {
    width: 95vw;
    transform: translateX(-12%) translateY(-80px);
}
