.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
    margin-right: 15px;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}

@keyframes settingIconScale {
    0% {
        transform: none;
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: none;
    }
}

.settings__setting-column:hover i {
    color: tomato;
    animation: settingIconScale 0.6s ease-in-out;
}
